.Color {
  cursor: pointer;

  &__picker {
    z-index: 2;
  }

  &__picker-alpha {
    z-index: 2;
  }

  &__picker-texture {
    z-index: 1;

    &--light {
      background:
        url('assets/images/texture--light.svg') 0 0 / auto 50%,
        #ffffff;
    }

    &--dark {
      background:
        url('assets/images/texture--dark.svg') 0 0 / auto 50%,
        #000000;
    }
  }
}
