.AlignmentArea {
  @include theme('neutral-3', background-color);
  @include theme('neutral-3', border, '1px solid');

  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 56px;
  justify-content: center;

  &--full-width {
    width: 100%;
  }
}
