.AlignmentArea {
  align-items: center;
  background-color: var(--xd-color-neutral-3);
  border: 1px solid var(--xd-color-neutral-3);
  border-radius: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 56px;
  justify-content: center;

  &--full-width {
    width: 100%;
  }
}
