.Panel {
  &__header {
    @include theme('neutral-3', border-bottom, '1px solid');

    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  &__sample {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
