.Tabs {
  align-items: flex-start;
  column-gap: 5px;
  display: flex;
  height: 32px;
  user-select: none;

  &__tab {
    @include theme('neutral-2', color);
    @include theme-selector('neutral-3', background-color, '&:hover');

    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    height: 24px;
    justify-content: center;
    line-height: 16px;
    padding: 0 8px;

    &--active {
      @include theme('neutral-1', color);
      @include theme('neutral-3', background-color);
    }
  }
}
