@import '../../../../styles/z-indexes.scss';

.Corners {
  @include theme-selector('neutral-1', fill, rect);
  @include theme-selector('blue-1', stroke, rect);

  height: 100%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: $--rx-zindex-element-active;

  &__outline {
    @include theme('blue-1', stroke);

    fill: none;
  }
}
