@import '../../../../styles/z-indexes';

.Corners {
  @include theme-selector('neutral-1', fill, rect);
  @include theme-selector('blue-1', stroke, rect);

  overflow: visible;
  pointer-events: none;
  position: absolute;
  z-index: $--rx-zindex-element;

  &--increase-zindex {
    z-index: $--rx-zindex-element-active;
  }
}
