@import '../../../../../../../../../../styles/z-indexes';

.Prompts {
  background-color: #0b99ff;
  z-index: $--xd-zindex-element-anchor;

  &--bottom {
    bottom: 0;
    height: 2px;
    left: 10px;
    width: calc(90% - 20px);
  }

  &--left {
    height: calc(90% - 20px);
    left: 0;
    top: 10px;
    width: 2px;
  }

  &--right {
    height: calc(90% - 20px);
    right: 0;
    top: 10px;
    width: 2px;
  }

  &--top {
    height: 2px;
    left: 10px;
    top: 0;
    width: calc(90% - 20px);
  }
}
