@forward '../../../../../../../styles/z-indexes';
@use '../../../../../../../styles/z-indexes' as *;

$size: 5px;
$offset-rotation: 7.5px;

.TransformArea {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;

  &__anchor-resize {
    pointer-events: all;
    position: absolute;

    &--east {
      height: calc(100% - #{$size});
      right: calc(-#{$size} / 2);
      top: calc(#{$size} / 2);
      width: $size;
    }

    &--none {
      display: none;
    }

    &--north {
      height: $size;
      left: calc(#{$size} / 2);
      top: calc(-#{$size} / 2);
      width: calc(100% - #{$size});
    }

    &--north-east {
      height: $size;
      right: calc(-#{$size} / 2);
      top: calc(-#{$size} / 2);
      width: $size;
    }

    &--north-west {
      height: $size;
      left: calc(-#{$size} / 2);
      top: calc(-#{$size} / 2);
      width: $size;
      z-index: 10;
    }

    &--south {
      bottom: calc(-#{$size} / 2);
      height: $size;
      left: calc(#{$size} / 2);
      width: calc(100% - #{$size});
    }

    &--south-east {
      bottom: calc(-#{$size} / 2);
      height: $size;
      right: calc(-#{$size} / 2);
      width: $size;
    }

    &--south-west {
      bottom: calc(-#{$size} / 2);
      height: $size;
      left: calc(-#{$size} / 2);
      width: $size;
    }

    &--west {
      height: calc(100% - #{$size});
      left: calc(-#{$size} / 2);
      top: calc(#{$size} / 2);
      width: $size;
    }
  }

  &__anchor-rotate {
    height: $size;
    pointer-events: all;
    position: absolute;
    width: $size;

    &--north-east {
      right: calc(-#{$offset-rotation});
      top: calc(-#{$offset-rotation});
    }

    &--north-west {
      left: calc(-#{$offset-rotation});
      top: calc(-#{$offset-rotation});
    }

    &--south-east {
      bottom: calc(-#{$offset-rotation});
      right: calc(-#{$offset-rotation});
    }

    &--south-west {
      bottom: calc(-#{$offset-rotation});
      left: calc(-#{$offset-rotation});
    }
  }
}
