@import '../../../../../../styles/z-indexes.scss';

.Frame {
  @include theme-selector('blue-1', color, '&:hover .Frame__label');

  background-color: white;

  &:hover {
    z-index: $--rx-zindex-element-active;
  }

  &__label {
    @include theme('neutral-2', color);

    font-size: 11px;
    position: absolute;
    transform: translate(1.5px, -20px);

    &--selected {
      @include theme('blue-1', color);
    }
  }
}
