@import '../../../../../../styles/z-indexes.scss';

.Frame {
  background-color: white;

  &__label {
    @include theme('neutral-2', color);

    font-size: 11px;
    position: absolute;
    transform: translate(1.5px, -20px);

    &--hover {
      @include theme('blue-1', color);
    }

    &--selected {
      @include theme('blue-1', color);
    }
  }
}
