@import '../../../../../../styles/z-indexes';

.Frame {
  background-color: #ffffff;

  &__wrapper {
    pointer-events: none;
    position: absolute;
  }

  &__label {
    @include theme('neutral-2', color);

    position: absolute;
    pointer-events: all;
    font-size: 11px;
    transform: translate(1.5px, -20px);
    user-select: none;

    &--hover {
      @include theme('blue-1', color);
    }

    &--selected {
      @include theme('blue-1', color);
    }
  }
}
