.ButtonIcon {
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;

  &:hover:not(.ButtonIcon--selected) {
    background-color: var(--xd-color-neutral-3);
  }

  &--selected {
    background-color: color-mix(in srgb, var(--xd-color-blue-1) 30%, transparent);
  }
}
