$--xd-zindex-events: 1;
$--xd-zindex-element: 2;
$--xd-zindex-element-active: 3;
$--xd-zindex-element-moving: 4;
$--xd-zindex-element-anchor: 5;
$--xd-zindex-multiple-area: 6;
$--xd-zindex-overlay-container: 7;
