@use 'sass:map';

@forward '../../../../styles/mixins/box-shadow';
@forward '../../../../styles/z-indexes';
@use '../../../../styles/mixins/box-shadow' as *;
@use '../../../../styles/z-indexes' as *;

.ColorSampler {
  @include box-shadow-panel;

  background-color: var(--xd-color-neutral-5);
  border-radius: 15px;
  box-sizing: border-box;
  column-gap: 15px;
  display: flex;
  height: 64px;
  padding: 8px;
  position: fixed;
  width: 260px;
  z-index: map.get($map: $z-indexes, $key: 'overlay');

  &__prevent-antd-event-mask {
    cursor:
      url('assets/icons/cursors/sampler.svg') 8 24,
      auto !important;
    pointer-events: all;
  }
}
