.ButtonGroup {
  align-items: center;
  column-gap: 1px;
  display: flex;
  flex-grow: 1;
  height: 24px;
  justify-content: space-between;

  &__button {
    @include theme('neutral-3', background-color);

    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    min-width: 28px;

    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:hover:not(&--disabled) {
      cursor: pointer;
      filter: brightness(150%);
    }
  }

  &__icon {
    &--disabled {
      filter: brightness(50%);
    }
  }
}
