.PopoverItem {
  @include theme-selector('blue-2', background-color, '&:hover');

  cursor: pointer;

  &__check-icon {
    flex-shrink: 0;
    margin-right: 2.5px;
    opacity: 0;

    &--selected {
      opacity: 1;
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__text {
    flex-shrink: 0;
    font-size: 12px;
  }
}
