.Color {
  cursor: pointer;

  &__picker {
    z-index: 2;
  }

  &__picker-alpha {
    z-index: 2;
  }

  &__picker-texture {
    z-index: 1;
    background:
      url('assets/images/texture--dark.svg') 0 0 / auto 50%,
      #000000;

    [data-theme='light'] & {
      background:
        url('assets/images/texture--light.svg') 0 0 / auto 50%,
        #ffffff;
    }

    @media (prefers-color-scheme: light) {
      :root:not([data-theme]) & {
        background:
          url('assets/images/texture--light.svg') 0 0 / auto 50%,
          #ffffff;
      }
    }
  }
}
