@import '../../../../../../../../styles/z-indexes.scss';

.NewSectionButton {
  &__circle {
    @include theme-selector('neutral-1', fill, circle);
    @include theme-selector('blue-1', stroke, circle);

    overflow: visible;
    pointer-events: none;
    position: absolute;
    z-index: $--rx-zindex-element;
  }

  &__button {
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    width: min-content;

    &--top {
      top: 10px;
    }

    &--bottom {
      bottom: 10px;
    }
  }
}
