.ZoomBox {
  cursor:
    url('assets/icons/cursors/default.png') 8 8,
    auto;

  &--rmb {
    cursor:
      url('assets/icons/cursors/pressing.png') 8 8,
      auto;
  }

  &__zoom-content {
    transform-origin: 0 0;
    transition: transform 0.1s ease-out;
  }
}
