.ZoomBox {
  cursor:
    url('assets/icons/cursors/default.png') 9 9,
    auto;
  position: relative;
  z-index: 1;

  &--color-sampler {
    cursor:
      url('assets/icons/cursors/sampler.svg') 8 24,
      auto !important;
  }

  &--move {
    cursor:
      url('assets/icons/cursors/move.png') 8 8,
      auto !important;
  }

  &--pressing,
  &--rmb {
    cursor:
      url('assets/icons/cursors/pressing.png') 8 8,
      auto !important;
  }

  &__background-mask {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &__texture-blank {
    background: url('assets/images/texture.svg'), #ffffff;
    background-repeat: repeat;
    background-size: 20px 20px;
    height: 10000%;
    left: -4950%;
    pointer-events: none;
    position: absolute;
    top: -4950%;
    width: 10000%;
  }

  &__zoom-content {
    transform-origin: 0 0;
    z-index: 3;
  }
}
