.Section {
  border-bottom: 1px solid var(--xd-color-neutral-3);
  padding: 12px 8px 12px 16px;

  &__label-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--separator {
      margin-bottom: 10px;
    }
  }

  &__label {
    align-items: center;
    color: var(--xd-color-neutral-1);
    display: flex;
    font-size: 11px;
    user-select: none;
  }

  &__label-component {
    align-items: center;
    column-gap: 2.5px;
    display: flex;
    justify-content: center;
  }
}
