.Section {
  @include theme('neutral-3', border-bottom, '1px solid');

  padding: 12px 8px 12px 16px;

  &__label {
    @include theme('neutral-1', color);

    align-items: center;
    display: flex;
    font-size: 11px;
    user-select: none;
  }
}
