@forward '../../styles/z-indexes';
@forward '../../../../styles/mixins/enter-delay';
@use '../../styles/z-indexes' as *;
@use '../../../../styles/mixins/enter-delay' as *;

.Corners {
  @include enter-delay;

  border: 1px solid var(--xd-color-blue-1);
  box-sizing: border-box;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  z-index: $zindex-element;

  rect {
    fill: var(--xd-color-neutral-1);
    stroke: var(--xd-color-blue-1);
  }
}
