@import '../../../styles/z-indexes';

.Frame {
  &__wrapper {
    pointer-events: none;
    position: absolute;
  }

  &__label {
    color: var(--xd-color-neutral-2);
    font-size: 11px;
    pointer-events: all;
    position: absolute;
    transform: translate(1.5px, -20px);
    user-select: none;

    &--hover {
      color: var(--xd-color-blue-1);
    }

    &--selected {
      color: var(--xd-color-blue-1);
    }

    &--bottom {
      left: 100%;
      top: 100%;
      transform: rotate(180deg) translate(1.5px, -20px);
      transform-origin: left top;
    }

    &--left {
      left: 0;
      top: 100%;
      transform: rotate(270deg) translate(1.5px, -20px);
      transform-origin: left top;
    }

    &--right {
      left: 100%;
      transform: rotate(90deg) translate(1.5px, -20px);
      transform-origin: left top;
    }
  }
}
