@forward '../../../styles/z-indexes';
@use '../../../styles/z-indexes' as *;

.ClickableArea {
  overflow: visible;
  position: absolute;
  z-index: $zindex-multiple-area;

  &__outline {
    fill: rgba($color: #000000, $alpha: 0%);
    stroke: var(--xd-color-blue-1);
  }
}
