@import '../../../styles/z-indexes';

.ClickableArea {
  overflow: visible;
  position: absolute;
  z-index: $--xd-zindex-multiple-area;

  &__outline {
    stroke: var(--xd-color-blue-1);
    fill: rgba($color: #000000, $alpha: 0%);
  }
}
