.MouseModes {
  $self: &;
  display: flex;
  height: 100%;

  &__button {
    @include theme-selector(
      'neutral-3',
      background-color,
      #{'&:not('}#{$self}#{'__button--active):hover'}
    );

    align-items: center;
    cursor:
      url('assets/icons/cursors/pointer.png') 10 6,
      auto;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 55px;

    &--active {
      @include theme('blue-2', background-color);
    }
  }
}
