$--xd-font-family:
  inter,
  ui-sans-serif,
  system-ui,
  -apple-system,
  'system-ui',
  'Segoe UI',
  roboto,
  'Helvetica Neue',
  arial,
  'Noto Sans',
  sans-serif,
  sfprolocalrange;
$--xd-font-size: 11px;

.TextFieldWrapper {
  @include theme('neutral-3', background-color);
  @include theme('neutral-3', border, '1px solid');
  @include theme-selector('blue-1', border-color, '&:hover .TextFieldWrapper__chip--attached-value');
  @include theme-selector('neutral-5', background-color, '&:hover .TextFieldWrapper__chip--attached-value');

  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  column-gap: 5px;
  display: flex;
  font-family: $--xd-font-family;
  font-size: $--xd-font-size;
  height: 24px;
  padding: 0 5px;
  position: relative;
  width: 100%;

  & * {
    font-family: $--xd-font-family;
    font-size: $--xd-font-size;
  }

  &--disabled,
  &--outlined {
    background-color: unset;
  }

  &--full-width {
    width: 100%;
  }

  &--chip {
    cursor: pointer;

    & * {
      cursor: pointer;
    }
  }

  &:hover &__icon {
    opacity: 1;
  }

  &__input {
    @include theme('neutral-1', color);

    background: none;
    border: none;
    outline: none;
    width: 100%;

    &:disabled {
      opacity: 0.5;
    }

    &[type='number']::-webkit-outer-spin-button,
    &[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
