@forward '../../../styles/z-indexes';
@forward '../../../../../styles/mixins/text-ellipsis';
@use '../../../styles/z-indexes' as *;
@use '../../../../../styles/mixins/text-ellipsis' as *;

.PossibleElement {
  overflow: visible;
  pointer-events: none;
  z-index: $zindex-element-active;

  &__label {
    @include text-ellipsis;

    font-size: 11px;
    left: 0;
    top: 0;
    transform: translate(1.5px, -20px);
    z-index: $zindex-element-active;
  }
}
