// FONT SIZE
$typography-font-size-h1: 60px;
$typography-font-size-h2: 48px;
$typography-font-size-h3: 34px;
$typography-font-size-h4: 24px;
$typography-font-size-h5: 20px;
$typography-font-size-h6: 16px;
$typography-font-size-p: 14px;
$typography-font-size-small: 12px;

// FONT STYLE
$typography-font-style-normal: normal;
$typography-font-style-italic: italic;

// FONT WEIGHT
$typography-font-weight-light: 300;
$typography-font-weight-regular: 400;
$typography-font-weight-medium: 500;
$typography-font-weight-semi-bold: 600;
$typography-font-weight-bold: 700;
$typography-font-weight-extra-bold: 800;
$typography-font-weight-blacks: 900;

// LINE HEIGHT
$typography-line-height-h1: 74px;
$typography-line-height-h2: 60px;
$typography-line-height-h3: 50px;
$typography-line-height-h4: 28px;
$typography-line-height-h5: 24px;
$typography-line-height-h6: 20px;
$typography-line-height-p: 18px;
$typography-line-height-small: 16px;

// MARGIN BOTTOM
$typography-margin-bottom-h1: 20px;
$typography-margin-bottom-h2: 16px;
$typography-margin-bottom-h3: 12px;
$typography-margin-bottom-h4: 8px;
$typography-margin-bottom-h5: 6px;
$typography-margin-bottom-h6: 6px;
$typography-margin-bottom-p: 4px;
$typography-margin-bottom-small: 2px;
