$value-1: 4px;
$value-2: -8px;
$value-3: -7px;

@mixin tooltip-carrot-positions() {
  &--top-start {
    bottom: $value-2;
    left: $value-1;
  }

  &--top-center {
    bottom: $value-2;
    left: 50%;
    transform: translateX(-50%);
  }

  &--top-end {
    bottom: $value-2;
    right: $value-1;
  }

  &--bottom-start {
    left: $value-1;
    top: $value-2;
    transform: rotate(180deg);
  }

  &--bottom-center {
    left: 50%;
    top: $value-2;
    transform: translateX(-50%) rotate(180deg);
  }

  &--bottom-end {
    right: $value-1;
    top: $value-2;
    transform: rotate(180deg);
  }

  &--left-start {
    right: $value-3;
    top: $value-1;
    transform: rotate(270deg);
  }

  &--left-center {
    right: $value-3;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
  }

  &--left-end {
    bottom: $value-1;
    right: $value-3;
    transform: rotate(270deg);
  }

  &--right-start {
    left: $value-3;
    top: $value-1;
    transform: rotate(90deg);
  }

  &--right-center {
    left: $value-3;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
  }

  &--right-end {
    bottom: $value-1;
    left: $value-3;
    transform: rotate(90deg);
  }
}
