.App {
  min-height: 100%;
  overflow: auto;

  @each $mode in $--xd-theme-list {
    &--#{$mode} {
      background-color: map.get($--xd-colors-theme, 'neutral-4' + '--' + $mode);
      color: map.get($--xd-colors-theme, 'neutral-1' + '--' + $mode);
    }
  }
}
