.GridArea {
  background-color: var(--xd-color-neutral-3);
  border: 1px solid var(--xd-color-neutral-3);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  height: 56px;

  &--full-width {
    width: 100%;
  }
}
