@import '../../../../../../styles/z-indexes';

.TransformArea {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;

  &__anchor {
    $--xd-size: 5px;

    pointer-events: all;
    position: absolute;

    &--east {
      cursor: ew-resize;
      height: calc(100% - #{$--xd-size});
      right: calc(-#{$--xd-size} / 2);
      top: calc(#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--none {
      display: none;
    }

    &--north {
      cursor: ns-resize;
      height: $--xd-size;
      left: calc(#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: calc(100% - #{$--xd-size});
    }

    &--north-east {
      cursor: nesw-resize;
      height: $--xd-size;
      right: calc(-#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--north-west {
      cursor: nwse-resize;
      height: $--xd-size;
      left: calc(-#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
      z-index: 10;
    }

    &--south {
      bottom: calc(-#{$--xd-size} / 2);
      cursor: ns-resize;
      height: $--xd-size;
      left: calc(#{$--xd-size} / 2);
      width: calc(100% - #{$--xd-size});
    }

    &--south-east {
      bottom: calc(-#{$--xd-size} / 2);
      cursor: nwse-resize;
      height: $--xd-size;
      right: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--south-west {
      bottom: calc(-#{$--xd-size} / 2);
      cursor: nesw-resize;
      height: $--xd-size;
      left: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--west {
      cursor: ew-resize;
      height: calc(100% - #{$--xd-size});
      left: calc(-#{$--xd-size} / 2);
      top: calc(#{$--xd-size} / 2);
      width: $--xd-size;
    }
  }
}
