@import '../../../../../../styles/z-indexes';
@import '../../../../../../../../styles/mixins/enter-delay';

.Element {
  $self: &;
  @include enter-delay;

  animation-delay: 100ms;
  position: absolute;
  user-select: none;
  z-index: $--xd-zindex-element;

  &--moving {
    opacity: 0.5;
    pointer-events: none;
    z-index: $--xd-zindex-element-moving !important;
  }

  &:has([data-status='true']) {
    z-index: $--xd-zindex-element-moving;
  }

  &__wrapper {
    overflow: hidden;
    position: relative;

    &--hover {
      z-index: $--xd-zindex-element-active;
    }
  }
}
