.DraggableSectionMenu {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 16px;

  &:hover,
  &--force-display {
    opacity: 1;
  }
}
