@import '../section-column';

@keyframes animation-in {
  to {
    opacity: 1;
    width: 24px;
  }
}

.SectionColumnContent {
  column-gap: $--xd-column-gap;

  &--single {
    grid-template-columns: 1fr;
  }

  &--two-inputs {
    grid-template-columns: repeat(2, 1fr);
    row-gap: $--xd-row-gap;
  }

  &--one-by-two {
    grid-template-areas: 'first second' 'first third';
    grid-template-columns: repeat(2, 1fr);
    row-gap: $--xd-row-gap;

    & > :nth-child(1) {
      grid-area: first;
    }

    & > :nth-child(2) {
      grid-area: second;
    }

    & > :nth-child(3) {
      grid-area: third;
    }
  }

  &__input-connector {
    animation: animation-in forwards 500ms cubic-bezier(0.2, 0.8, 0.3, 1);
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 0;
  }
}
