@import '../../../../../../styles/z-indexes';

.DropAnchors {
  position: relative;

  &__prompt {
    background-color: #0b99ff;
    border-radius: 1px;
    box-sizing: border-box;
    height: 2px;
    position: absolute;
    width: calc(90% - 20px);
    z-index: $--rx-zindex-element-anchor;

    &--top {
      left: 10px;
      top: 0;
    }

    &--bottom {
      bottom: 0;
      left: 10px;
    }
  }

  &__anchor {
    position: absolute;
    z-index: $--rx-zindex-element-anchor;

    &--bottom {
      bottom: 0;
      height: 10px;
      left: 0;
      width: 100%;
    }

    &--top {
      height: 10px;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}
