@use 'sass:map';

@forward '../../../styles/mixins/text-ellipsis';
@forward '../../../styles/mixins/typography/typography';
@forward '../../../styles/mixins/typography/typography-list';
@forward '../../../styles/mixins/typography/typography-map';
@use '../../../styles/mixins/text-ellipsis' as *;
@use '../../../styles/mixins/typography/typography' as *;
@use '../../../styles/mixins/typography/typography-list' as *;
@use '../../../styles/mixins/typography/typography-map' as *;

@use 'xd-variables' as *;

.Typography {
  @each $color in $font-colors {
    &--#{$color} {
      color: var(--xd-color-#{$color});
    }
  }

  @each $font-type in $font-types {
    &--gutter-bottom#{&}--#{$font-type} {
      $font-size: map.get($font-size-map, $font-type);
      $line-height: map.get($line-height-map, $font-type);
      $margin-bottom: map.get($margin-bottom-map, $font-type);

      @include typography-styles($font-size, $line-height, $margin-bottom);
    }
  }

  @each $font-style in $font-styles {
    &--#{$font-style} {
      font-style: map.get($font-styles-map, $font-style);
    }
  }

  @each $font-weight in $font-weights {
    &--#{$font-weight} {
      font-weight: map.get($font-weights-map, $font-weight);
    }
  }

  font-family: Rubik, sans-serif;
  margin: 0;

  &--no-wrap {
    @include text-ellipsis;
  }
}
