@import '../../../../styles/z-indexes.scss';

.ElementArea {
  height: 100%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 100%;

  &__label {
    font-size: 11px;
    position: absolute;
    transform: translate(1.5px, -20px);
    z-index: $--rx-zindex-element-active;
  }

  &__area {
    @include theme-selector('blue-1', stroke, path);

    height: 100%;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: $--rx-zindex-element-active;

    path {
      fill: rgba(white, $alpha: 0);
    }
  }
}
