@forward '../../styles/z-indexes';
@use '../../styles/z-indexes' as *;

.SelectableArea {
  height: 100%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 100%;

  &__area {
    height: 100%;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: $zindex-element-active;

    path {
      stroke: var(--xd-color-blue-1);
      fill: color-mix(in srgb, var(--xd-color-blue-1) 20%, transparent);
    }
  }
}
