@import '../../../../../../styles/z-indexes';
@import '../../../../../../styles/mixins/box-shadow';

.ColorSampler {
  @include box-shadow-panel;

  border-radius: 15px;
  box-sizing: border-box;
  column-gap: 15px;
  display: flex;
  height: 64px;
  padding: 8px;
  position: fixed;
  z-index: map.get($map: $--rx-z-indexes, $key: 'overlay');
  width: 260px;

  &__prevent-antd-event-mask {
    cursor:
      url('assets/icons/cursors/sampler.svg') 8 24,
      auto !important;
    height: 150px;
    left: -150px;
    position: absolute;
    pointer-events: all;
    top: -150px;
    width: 150px;
  }

  &__picker-wrapper {
    border-radius: 5px;
    height: 48px;
    overflow: hidden;
    position: relative;
    width: 48px;
  }

  &__picker {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
  }

  &__picker-grid {
    @include theme('neutral-3', border, '0.5px solid');
  }

  &__picker-target-color {
    @include theme('neutral-1', border, '2px solid');

    border-radius: 2.5px;
    height: 6.85px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6.85px;
  }

  &__picker-loader {
    @include theme('neutral-4', background-color);

    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
  }

  &__selected-color {
    @include theme('neutral-3', border, '1px solid');

    border-radius: 2.5px;
    box-sizing: border-box;
    height: 16px;
    margin: 8px;
    width: 16px;
  }

  &__prompt {
    align-items: center;
    column-gap: 8px;
    display: flex;
    margin-left: 12px;
  }

  &__prompt-description {
    font-size: 11px;
  }
}
