@import '../section-column';

.SectionColumnLabels {
  column-gap: $--xd-column-gap;

  &__label {
    color: var(--xd-color-neutral-2);
    font-size: 9px;
    margin-bottom: 5px;
    user-select: none;
  }
}
