@forward '../section-column.module';
@use '../section-column.module' as *;

.SectionColumnLabels {
  column-gap: $column-gap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__label {
    color: var(--xd-color-neutral-2);
    font-size: 9px;
    margin-bottom: 5px;
    user-select: none;
  }
}
