@forward '../section-column';
@use '../section-column' as *;

.SectionColumnLabels {
  column-gap: $column-gap;

  &__label {
    color: var(--xd-color-neutral-2);
    font-size: 9px;
    margin-bottom: 5px;
    user-select: none;
  }
}
