$--xd-attr-fill: '*[data-svg-property=' fill ']';
$--xd-attr-stroke: '*[data-svg-property=' stroke ']';

@mixin apply-icon-styles($color, $selector: '') {
  #{$selector}#{$--xd-attr-fill} {
    fill: var(--xd-color-#{$color});
  }

  #{$selector}#{$--xd-attr-stroke} {
    stroke: var(--xd-color-#{$color});
  }
}

.Icon {
  @each $color in $--xd-font-colors {
    &--#{$color} {
      @include apply-icon-styles($color);
    }
  }

  &--clickable {
    @include apply-icon-styles('neutral-2');
    @include apply-icon-styles('neutral-1', #{'&:hover'}#{' '});

    cursor: pointer;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
