.TextField {
  @include theme('neutral-3', background-color);

  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  column-gap: 5px;
  display: flex;
  height: 24px;
  padding: 0 5px;

  &__input {
    @include theme('neutral-1', color);

    background: none;
    border: none;
    font-family:
      Inter,
      ui-sans-serif,
      system-ui,
      -apple-system,
      'system-ui',
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      SFProLocalRange;
    font-size: 11px;
    outline: none;
  }
}
