.Tabs {
  user-select: none;

  &__tab {
    color: var(--xd-color-neutral-2);
    cursor: pointer;
    font-size: 11px;
    line-height: 16px;

    &:hover {
      background-color: var(--xd-color-neutral-3);
    }

    &--active {
      background-color: var(--xd-color-neutral-3);
      color: var(--xd-color-neutral-1);
    }

    &--disabled {
      color: var(--xd-color-neutral-1);

      background-color: unset;

      &:hover {
        background-color: unset;
      }
    }
  }
}
