.Tabs {
  user-select: none;

  &__tab {
    @include theme('neutral-2', color);
    @include theme-selector('neutral-3', background-color, '&:hover');

    cursor: pointer;
    font-size: 11px;
    line-height: 16px;

    &--active {
      @include theme('neutral-1', color);
      @include theme('neutral-3', background-color);
    }

    &--disabled {
      @include theme('neutral-1', color);

      background-color: unset;

      &:hover {
        background-color: unset;
      }
    }
  }
}
