@import '../../../../../../styles/z-indexes';

.DropAnchors {
  height: min-content;
  position: relative;
  width: min-content;

  &__prompt {
    background-color: #0b99ff;
    border-radius: 1px;
    box-sizing: border-box;
    position: absolute;
    z-index: $--xd-zindex-element-anchor;

    &--bottom {
      bottom: 0;
      height: 2px;
      left: 10px;
      width: calc(90% - 20px);
    }

    &--left {
      height: calc(90% - 20px);
      left: 0;
      top: 10px;
      width: 2px;
    }

    &--right {
      height: calc(90% - 20px);
      right: 0;
      top: 10px;
      width: 2px;
    }

    &--top {
      height: 2px;
      left: 10px;
      top: 0;
      width: calc(90% - 20px);
    }
  }

  &__anchor {
    position: absolute;
    z-index: $--xd-zindex-element-anchor;

    &--bottom {
      bottom: 0;
      height: 10px;
      left: 0;
      width: 100%;
    }

    &--left {
      height: 100%;
      left: 0;
      top: 0;
      width: 10px;
    }

    &--right {
      height: 100%;
      right: 0;
      top: 0;
      width: 10px;
    }

    &--top {
      height: 10px;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}
