.DraggableSection {
  margin-left: -16px;
  position: relative;
  width: calc(100% + 24px);

  &--draggable {
    user-select: none;
  }

  &__item {
    align-items: center;
    box-sizing: border-box;
    column-gap: 10px;
    display: flex;
    height: 32px;
    padding: 0 8px 0 16px;
    position: relative;

    &:has([data-visible-color-picker-panel='true']) {
      background-color: color-mix(in srgb, var(--xd-color-neutral-2) 10%, transparent);
    }

    &--selected {
      background-color: color-mix(in srgb, var(--xd-color-blue-1) 50%, transparent);

      [data-theme='light'] & {
        background-color: color-mix(in srgb, var(--xd-color-blue-2) 50%, transparent);
      }

      @media (prefers-color-scheme: light) {
        :root:not([data-theme]) & {
          background-color: color-mix(in srgb, var(--xd-color-blue-2) 50%, transparent);
        }
      }
    }
  }
}
