@use 'sass:map';

@forward './button-icons';
@forward './button-list';
@forward './button-map';
@forward '../../../../styles/mixins/transitions/ripple/ripple-styles';
@use './button-icons' as *;
@use './button-list' as *;
@use './button-map' as *;
@use '../../../../styles/mixins/transitions/ripple/ripple-styles' as *;

@mixin button-idle-styles($className, $color, $variant) {
  @if $variant == 'contained' {
    background-color: map.get($background-color-map, $variant + '-' + $color);
  } @else if $variant == 'outlined' {
    border-color: map.get($border-map, $variant + '-' + $color);
  }

  @include button-icons($className, $color, 'idle', $variant);
}

@mixin button-disabled-styles($className, $color, $variant) {
  @if $variant == 'contained' {
    background-color: map.get($background-color-map, $variant + '-' + $color + '-disabled');
  } @else if $variant == 'outlined' {
    border-color: map.get($border-map, $variant + '-' + $color + '-disabled');
  }

  @if $variant != 'contained' {
    @include button-icons($className, $color, 'disabled', $variant);

    color: map.get($color-map, $variant + '-' + $color + '-disabled');
  }
}

@mixin button-hover-styles($className, $color, $variant) {
  @if $variant != 'outlined' {
    background-color: map.get($background-color-map, $variant + '-' + $color + '-hover');

    @if $variant == 'contained' {
      box-shadow:
        0 1px 2px 0 #58585875,
        0 1px 3px 1px #58585875;
    }
  } @else {
    border-color: map.get($border-map, $variant + '-' + $color + '-hover');
  }

  @if $variant != 'contained' {
    @include button-icons($className, $color, 'hover', $variant);

    color: map.get($color-map, $variant + '-' + $color + '-hover');
  }
}

@mixin button-ripple-styles($color, $variant) {
  @if $variant == 'text' {
    @include ripple-circle(map.get($color-map, $variant + '-' + $color + '-hover'));
  } @else if $variant == 'contained' {
    @include ripple-circle(map.get($background-color-map, $variant + '-' + $color + '-hover'));
  } @else {
    @include ripple-circle(map.get($border-map, $variant + '-' + $color + '-hover'));
  }
}

@mixin button-state-styles($className, $color, $variant) {
  @include button-idle-styles($className, $color, $variant);

  color: map.get($color-map, $variant + '-' + $color);

  &:disabled {
    cursor: not-allowed;
    @include button-disabled-styles($className, $color, $variant);
  }

  @at-root #{&}#{$className}--forced-hover,
    &:focus:enabled,
    &:hover:enabled {
    @include button-hover-styles($className, $color, $variant);
  }

  #{$className}--ripple {
    @include button-ripple-styles($color, $variant);
  }
}

@mixin button-variants($className) {
  @each $variant in $button-variants {
    @each $color in $button-colors {
      &--#{$variant}#{&}--#{$color} {
        @include button-state-styles($className, $color, $variant);

        @if $variant == 'text' or $variant == 'outlined' {
          background: unset;
        }

        @if $variant == 'outlined' {
          border: 1px solid;
        }
      }
    }
  }
}
