@use 'sass:map';

@forward './button-sizes';
@forward './button-variants';
@forward '../../../../styles/mixins/button/button';
@use './button-sizes' as *;
@use './button-variants' as *;
@use '../../../../styles/mixins/button/button' as *;

.Button {
  $self: &;

  @include button-variants($self);
  @include button-size;
  @include button;

  border-radius: map.get($button-map, 'btn-border-radius');
  user-select: none;

  &--full-width {
    width: 100%;
  }
}
