@use 'sass:map';

@forward '../../../../styles/lists/input';
@forward '../../../../styles/map/button';
@forward '../../../../styles/typography';
@use '../../../../styles/lists/input' as *;
@use '../../../../styles/map/button' as *;
@use '../../../../styles/typography' as *;

@mixin button-size() {
  @each $size in $input-sizes {
    &--#{$size} {
      padding: map.get($button-map, 'btn' + '-' + $size + '-' + 'padding-tb')
        map.get($button-map, 'btn' + '-' + $size + '-' + 'padding-lr');

      @if $size == 'small' {
        font-size: $typography-font-size-small;
        line-height: $typography-line-height-small;
      } @else if $size == 'medium' {
        font-size: $typography-font-size-p;
        line-height: $typography-line-height-p;
      } @else {
        font-size: $typography-font-size-h6;
        line-height: $typography-line-height-h6;
      }
    }
  }
}
