@import '../../../../../../styles/z-indexes';

.ClickableArea {
  overflow: visible;
  position: absolute;
  z-index: $--rx-zindex-multiple-area;

  &__outline {
    @include theme('blue-1', stroke);

    fill: rgba($color: #000000, $alpha: 0%);
  }
}
