@forward '../../typography';
@use '../../typography' as *;

$font-size-map: (
  h1: $typography-font-size-h1,
  h2: $typography-font-size-h2,
  h3: $typography-font-size-h3,
  h4: $typography-font-size-h4,
  h5: $typography-font-size-h5,
  h6: $typography-font-size-h6,
  p: $typography-font-size-p,
  small: $typography-font-size-small,
);

$font-styles-map: (
  normal: $typography-font-style-normal,
  italic: $typography-font-style-italic,
);

$font-weights-map: (
  regular: $typography-font-weight-regular,
  medium: $typography-font-weight-medium,
  bold: $typography-font-weight-bold,
);

$line-height-map: (
  h1: $typography-line-height-h1,
  h2: $typography-line-height-h2,
  h3: $typography-line-height-h3,
  h4: $typography-line-height-h4,
  h5: $typography-line-height-h5,
  h6: $typography-line-height-h6,
  p: $typography-line-height-p,
  small: $typography-line-height-small,
);

$margin-bottom-map: (
  h1: $typography-margin-bottom-h1,
  h2: $typography-margin-bottom-h2,
  h3: $typography-margin-bottom-h3,
  h4: $typography-margin-bottom-h4,
  h5: $typography-margin-bottom-h5,
  h6: $typography-margin-bottom-h6,
  p: $typography-margin-bottom-p,
  small: $typography-margin-bottom-small,
);
