@forward '../../../styles/z-indexes';
@forward '../../../../../styles/mixins/enter-delay';
@use '../../../styles/z-indexes' as *;
@use '../../../../../styles/mixins/enter-delay' as *;

.Element {
  $self: &;

  flex-shrink: 0;
  overflow: hidden;
  transform-origin: center center;
  user-select: none;
  z-index: $zindex-element;

  &--moving {
    opacity: 0.5 !important;
    pointer-events: none;
    z-index: $zindex-element-moving !important;
  }

  &--hover {
    z-index: $zindex-element-active;
  }

  &:has([data-status='true']) {
    z-index: $zindex-element-moving;
  }
}
