@import '../../../styles/z-indexes';
@import '../../../../../styles/mixins/enter-delay';

.Element {
  $self: &;

  flex-shrink: 0;
  overflow: hidden;
  transform-origin: center center;
  user-select: none;
  z-index: $--xd-zindex-element;

  &--moving {
    opacity: 0.5 !important;
    pointer-events: none;
    z-index: $--xd-zindex-element-moving !important;
  }

  &--hover {
    z-index: $--xd-zindex-element-active;
  }

  &:has([data-status='true']) {
    z-index: $--xd-zindex-element-moving;
  }
}
