@import '../../../../styles/typography';

.SelectItem {
  @include theme-selector('blue-2', background-color, '&:hover');

  align-items: center;
  border-radius: 5px;
  column-gap: 10px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-family: Rubik, sans-serif;
  font-size: $--xd-typography-font-size-small;
  height: 24px;
  justify-content: left;
  line-height: $--xd-typography-line-height-small;
  padding: 0 5px;

  & * {
    pointer-events: none;
  }

  &__check-icon {
    flex-shrink: 0;
    margin-right: 2.5px;
    opacity: 0;
    pointer-events: none;

    &--selected {
      opacity: 1;
    }
  }
}
