@import '../../../../styles/z-indexes';

.SelectableArea {
  height: 100%;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  width: 100%;

  &__area {
    @include theme-selector('blue-1', stroke, path);

    height: 100%;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: $--xd-zindex-element-active;

    &--light path {
      fill: rgba($color: $--xd-blue-1--light, $alpha: 20%);
    }

    &--dark path {
      fill: rgba($color: $--xd-blue-1--dark, $alpha: 20%);
    }
  }
}
