@import '../../../../styles/mixins/scrollbar';

.PanelProperties {
  &__area-handle-resize {
    cursor: ew-resize;
  }

  &__sections {
    @include scrollbar-styles;

    max-height: calc(100% - 72.5px);
    min-height: calc(100% - 72.5px);
    overflow-y: overlay;
  }
}
