@import '../../styles/z-indexes';

.ScrubbableInput {
  cursor: ew-resize !important;
  user-select: none;

  &--disabled {
    pointer-events: none;
  }

  &__handler {
    position: fixed;
    transform: translate(-50%, -7px);
    z-index: map.get($map: $--xd-z-indexes, $key: 'overlay');
  }
}
