@use 'sass:map';

@forward '../../styles/z-indexes';
@use '../../styles/z-indexes' as *;

.ScrubbableInput {
  align-items: center;
  cursor: ew-resize !important;
  display: flex;
  user-select: none;

  &--disabled {
    pointer-events: none;
  }

  &__handler {
    position: fixed;
    transform: translate(-50%, -7px);
    z-index: map.get($map: $z-indexes, $key: 'overlay');
  }
}
