@import '../../styles/z-indexes';

.ScrubbableInput {
  align-items: center;
  cursor: ew-resize;
  display: flex;
  user-select: none;

  &--disabled {
    pointer-events: none;
  }

  &__icon {
    height: 12px;
    width: 12px;
  }

  &__handler {
    position: fixed;
    transform: translate(-50%, -7px);
    z-index: map.get($map: $--xd-z-indexes, $key: 'overlay');
  }
}
