$--xd-gap: 10px;

.SectionColumn {
  &--with-margin {
    margin-bottom: 7.5px;
  }

  &__labels {
    column-gap: $--xd-gap;
    display: flex;
  }

  &__label {
    @include theme('neutral-2', color);

    font-size: 9px;
    margin-bottom: 5px;
  }

  &__wrapper {
    align-items: center;
    column-gap: 8px;
    display: flex;
  }

  &__content {
    column-gap: $--xd-gap;
    display: grid;

    &--single {
      grid-template-columns: 1fr;
    }

    &--two-inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__buttons {
    align-items: center;
    column-gap: 2.5px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
