$--xd-gap: 10px;

.SectionColumn {
  &--with-margin {
    margin-bottom: 7.5px;
  }

  &__labels {
    column-gap: $--xd-gap;
  }

  &__label {
    @include theme('neutral-2', color);

    font-size: 9px;
    margin-bottom: 5px;
  }

  &__content {
    column-gap: $--xd-gap;

    &--single {
      grid-template-columns: 1fr;
    }

    &--two-inputs {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
