.SectionColumn {
  &__labels {
    column-gap: 2.5px;
    display: flex;
  }

  &__label {
    @include theme('neutral-2', color);

    font-size: 9px;
    margin-bottom: 5px;
  }

  &__wrapper {
    align-items: center;
    column-gap: 8px;
    display: flex;
  }

  &__content {
    column-gap: 10px;
    display: flex;
  }

  &__buttons {
    align-items: center;
    column-gap: 2.5px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
