.MouseModes {
  $self: &;

  &__button {
    cursor:
      url('assets/icons/cursors/pointer.png') 10 6,
      auto;

    &:not(#{$self}__button--active):hover {
      background-color: var(--xd-color-neutral-3);
    }

    &--active {
      background-color: var(--xd-color-blue-2);
    }
  }
}
