@mixin box-shadow-panel($mode: 'none') {
  @if (mode == 'light') {
    box-shadow: 0 2px 20px #78787880;
  } @else if (mode == 'dark') {
    box-shadow: 0 2px 20px 0 #000000b3;
  }

  &--light {
    box-shadow: 0 2px 20px #78787880;
  }

  &--dark {
    box-shadow: 0 2px 20px 0 #000000b3;
  }
}
