@mixin scrollbar-styles($bg: var(--xd-scrollbar-bg), $track: var(--xd-scrollbar-track)) {
  &::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $track;
    border: 3px solid $bg;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: $bg;
  }
}
