.DraggableSectionAnchor {
  @include theme-selector('neutral-1', background-color, #{&}#{'__prompt'});

  display: flex;
  height: 50%;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 2;

  &[data-test-anchor='anchor-north'] {
    align-items: flex-start;
    top: 0;
  }

  &[data-test-anchor='anchor-south'] {
    align-items: flex-end;
    bottom: 0;
  }

  &--draggable {
    pointer-events: all;
  }

  &__prompt {
    height: 2px;
    pointer-events: none;
    width: 100%;
  }
}
