.ToggleButton {
  align-items: center;
  background-color: unset;
  border: 1px solid rgba($color: #000000, $alpha: 0%);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &--selected {
    background-color: var(--xd-color-neutral-4);
    border: var(--xd-color-neutral-4);
  }
}
