@import '../../../../styles/z-indexes';

$--xd-size: 5px;
$--xd-offset-rotation: 7.5px;

.TransformArea {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;

  &__anchor-resize {
    pointer-events: all;
    position: absolute;

    &--east {
      height: calc(100% - #{$--xd-size});
      right: calc(-#{$--xd-size} / 2);
      top: calc(#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--none {
      display: none;
    }

    &--north {
      height: $--xd-size;
      left: calc(#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: calc(100% - #{$--xd-size});
    }

    &--north-east {
      height: $--xd-size;
      right: calc(-#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--north-west {
      height: $--xd-size;
      left: calc(-#{$--xd-size} / 2);
      top: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
      z-index: 10;
    }

    &--south {
      bottom: calc(-#{$--xd-size} / 2);
      height: $--xd-size;
      left: calc(#{$--xd-size} / 2);
      width: calc(100% - #{$--xd-size});
    }

    &--south-east {
      bottom: calc(-#{$--xd-size} / 2);
      height: $--xd-size;
      right: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--south-west {
      bottom: calc(-#{$--xd-size} / 2);
      height: $--xd-size;
      left: calc(-#{$--xd-size} / 2);
      width: $--xd-size;
    }

    &--west {
      height: calc(100% - #{$--xd-size});
      left: calc(-#{$--xd-size} / 2);
      top: calc(#{$--xd-size} / 2);
      width: $--xd-size;
    }
  }

  &__anchor-rotate {
    height: $--xd-size;
    pointer-events: all;
    position: absolute;
    width: $--xd-size;

    &--north-east {
      right: calc(-#{$--xd-offset-rotation});
      top: calc(-#{$--xd-offset-rotation});
    }

    &--north-west {
      left: calc(-#{$--xd-offset-rotation});
      top: calc(-#{$--xd-offset-rotation});
    }

    &--south-east {
      bottom: calc(-#{$--xd-offset-rotation});
      right: calc(-#{$--xd-offset-rotation});
    }

    &--south-west {
      bottom: calc(-#{$--xd-offset-rotation});
      left: calc(-#{$--xd-offset-rotation});
    }
  }
}
